<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>rpg-dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9aea94aa37.js" crossorigin="anonymous"></script>
    {% block style %}
        <style>
            .btn-discord {
                --bs-btn-bg: hsl(235, 86%, 65%);
                --bs-btn-border-color: hsl(235, 86%, 65%);
                --bs-btn-hover-bg: hsl(235, 78%, 57%);
                --bs-btn-hover-border-color: hsl(235, 78%, 57%);
                --bs-btn-active-bg: hsl(235, 79%, 55%);
                --bs-btn-active-border-color: hsl(235, 79%, 55%);
            }
        </style>
    {% endblock %}
</head>

<body>
    <section class="vh-100 d-flex flex-column">
        <div>
            <nav>
                <div class="container d-flex flex-wrap align-items-center gap-2 p-3">
                    <ul class="nav me-auto">
                        <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link link-body-emphasis p-2">
                            rpg-dashboard
                        </a></li>
                    </ul>
                    <ul class="nav">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a href="{{ url_for('main.profile') }}" class="nav-link link-body-emphasis p-2">
                            Perfil
                        </a></li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-discord btn-sm mx-2">
                            <i class="fa-brands fa-discord me-1"></i>
                            Login
                        </a></li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item"><a href="{{ url_for('auth.logout') }}" class="nav-link link-body-emphasis p-2">
                            Logout
                        </a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>

        <div class="container flex-fill">
            {% block content %}{% endblock %}
        </div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>
