{% extends "base.html" %}

{% block style %}
    <style>
        html,
        body {
            height: 100%;
        }

        .form-signin {
            max-width: 330px;
            padding: 1rem;
        }

        .form-signin .form-floating:focus-within {
            z-index: 2;
        }

        .form-signin input[name="username"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .form-signin input[name="email"] {
            margin-bottom: -1px;
            border-radius: 0;
        }

        .form-signin input[name="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="d-flex align-items-center py-4 text-center h-100">
        <div class="form-signin m-auto">
            <h3 class="h3 mb-3 fw-normal">Criar conta</h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="alert alert-danger">
                    {{ messages[0] }}. <a class="link-light" href="{{ url_for('auth.login') }}">Fazer login</a>.
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/signup">
                <div class="form-floating">
                    <input class="form-control" type="text" name="username" placeholder="Nome de usuário" id="username">
                    <label for="username">Nome de usuário</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" type="email" name="email" placeholder="Email" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="form-floating">
                    <input class="form-control" type="password" name="password" placeholder="Senha" id="password">
                    <label for="password">Senha</label>
                </div>
                <button class="btn btn-primary w-100 py-2 mt-3">Registrar</button>
            </form>
        </div>
    </div>
{% endblock %}
